.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 500px; /* Adjust as needed */
    max-height: 600px; /* Adjust as needed */
    background-color: #F7FFF7; /* Background color */
    border-color: #4ECDC4;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 20px auto; /* Added auto to center the container */
    padding: 10px;
    overflow-y: auto; /* Allows scrolling if content exceeds max-height */
  }

  .task-header {
    width: 100%; /* Ensure the header takes the full width */
    background-color: #FF6B6B; /* Primary color */
    height: 60px; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #1A535C; /* Text color */
    padding: 0 20px;
    margin-bottom: 10px;
  }
  
  
  .App-header h1 {
    margin: 0;
  }

.task-input {
    width: 100%;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    margin-bottom: 10px;
    padding-inline-start: 10px;
    min-height: 40px;
    height: fit-content;
}

.add-task-button {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #FF6B6B; /* Primary color */
    color: white; /* Text color */
    margin-bottom: 10px;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list-item {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #FF6B6B; /* Primary color */
    color: white; /* Text color */
    margin-bottom: 10px;
    font-size:x-large;
}

.complete-task-button {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #FF6B6B; /* Primary color */
    color: #1A535C; /* Text color */
    font-weight: 500;
    margin: 10px;

}

.journal-button {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #FF6B6B; /* Primary color */
    color: white; /* Text color */
    margin-bottom: 10px;
}

.completed-task {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #F7FFF7; /* Background color */
    color: #1A535C; /* Text color */
    margin-bottom: 10px;
}

.journal-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-journal-button {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #FF6B6B; /* Primary color */
    color: white; /* Text color */
    margin-bottom: 10px;
}

.journal-entry {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #F7FFF7; /* Background color */
    color: #1A535C; /* Text color */
    margin-bottom: 10px;
}

.journal-task {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #FF6B6B; /* Primary color */
    color: #1A535C; /* Text color */
    margin-bottom: 10px;
}

.journal-text {
    padding: 10px;
    border: 1px solid #4ECDC4; /* Secondary color */
    border-radius: 5px;
    background-color: #F7FFF7; /* Background color */
    color: #1A535C; /* Text color */
    margin-bottom: 10px;
}